body{
	color: #40514E;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;

}

h1{
	margin-top: 0px;
	font-size: 50px;
    font-family: 'Merriweather', serif;
	color: #776d8a;
}

h2{
	font-family: 'Montserrat' , sans-serif;
	color: #206a5d;
	padding-bottom: 10px;
}
h3{
	color: #7d0633;
	font-family: 'Lobster', cursive;
}
p{
	color: #440047;
}
hr{
	border: dotted #797a7e 6px;
	border-top: none;
	width: 4%;
	margin: 50px auto;
}

.top-container{
	
	background-color: #E4F9F5;
	/*position: relative;*/
	padding-top: 100px;
	height: 500px;
}
.middle-container{
	
	/*position: relative;*/
	padding-top: 100px;
	background-color: #cbeaed;
}
.bottom-container{
	background-color: #c7b198;
	/*position: relative;*/
	padding-top: 50px;
}
img{
	height: 200px;
}
span{
	text-decoration: underline;
}
.top-cloud{
	position: relative;
	left: 400px;
	top: 20px;
	bottom: 100px; 
}
.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.profile{
	text-align: center;
	margin-auto
}
.rishi-img{
	border-radius: 100%;
	text-align: center;
}
.motive{
	width: 25%;
	float: left;
	margin-right: 10%;
}
.bat{
	width: 25%;
	float: right;
	margin-left: 10%;
}
/*.profile{
	text-align: left;
	width: 50%;
	margin: 50px auto 100px auto;
}*/
.mail-me{
	width: 40%;
	margin: 30px auto 50px;
}

a{
	color: #11999E;
	font-family: 'Montserrat' , sans-serif;
	margin: 0px 20px auto;
	padding: 50px auto;
	text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.copyright{
	color: ##797A7E;
	font-size: 0.75rem;
	padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}